In [1]:
import numpy as np
from fwl.dataset import Dataset
import fwl.fwl as fwl
from fwl.helpers import euclidean_dist

diabetes_ds = Dataset('diabetes', normalized=True)
ozone_ds = Dataset('ozone-320', normalized=True)
spectf_heart_ds = Dataset('spectf-heart', normalized=True)

In [3]:
score_one_kk = fwl.validate(ds=diabetes_ds, fwl_algo=fwl.one_kk).style.set_caption('1-KK')
score_one_kk