In [1]:
import numpy as np
from fwl.dataset import Dataset
import fwl.fwl as fwl

diabetes_ds = Dataset('diabetes', normalized=True)
ozone_ds = Dataset('ozone-320', normalized=True)
spectf_heart_ds = Dataset('spectf-heart', normalized=True)

In [2]:
score_relief = fwl.validate(ds=diabetes_ds, fwl_algo=fwl.relief).style.set_caption('Relief')
score_relief